<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/avatar.png">
            </a>
            <div class="content">
                <a class="header">CrakerNano</a>
                <div class="description">
                        <p>
                            En el mundo digital soy CrakerNano. Me encanta el desarrollo y he tocado
                            un poco todos los palos, aunque mi verdadero ❤️ es el desarrollo backend
                            y la róbotica
                        </p>

                        <p>
                            Actualmente trabajo como SRE en una gran empresa, pero sigo sacando
                            tiempo para cacharrear y seguir aprendiendo.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
